.footer {
  background-color: $bgcColor;
  padding: 60px 0;
}

.container--footer {
  display: flex;
  align-items: baseline;
}

.address {
  margin-right: 70px;
}

.logo--footer {
  color: $primary-White-Color;

  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

.footer__address {
  color: $primary-White-Color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms $time-function;

  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;

  transition: color 250ms $time-function;

  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}

.social-title {
  color: $primary-White-Color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}
